@*@model PropertyConfigurationModel

@{
    ViewData["Title"] = "Ip Lists";
}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>XmlLabel</th>
            <th>Value</th>
            <th>ValueCollectionType</th>
            <th>Delimeter</th>
         </tr>
    </thead>
    <tbody>
        @foreach(var ips in Model.PropertyConfigurationsList){
            <tr>
                <td>@ips.XmlLabel</td>
                <td>@ips.Value</td>
                <td>@ips.ValueType</td>
                <td>@ips.Delimeter</td>
            </tr>
        }
    </tbody>
</table>*@